<!doctype html>
<html>
<head>
  <meta charset="{{encoding}}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <title>{{title}}</title>
  <style type="text/css">
    {{{style}}}
  </style>
  
  <link rel="stylesheet" href="solarized_dark.css">
</head>
<body>
  {{{slideshow}}}

  <script type="text/javascript">
    {{{script}}}
  </script>
  <script src="./highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</body>
</html>